<div class="mifondo">
  <div class="row">
    <div class="col-md-3">
      <p>Esta página es una recopilación de información del videojuego "Valorant". Toda la información fue extraída de la api: <a href="https://valorant-api.com" target="_blank">https://valorant-api.com</a></p>
    </div>
    <div class="col-md-3 col2">
      <p>En esta página encontrarás información acerca de los agentes, las armas, la web oficial de Valorant e información sobre el autor de esta página</p>
    </div>
  </div>
</div>
