<div class="mifondo">
  <div class="container border border-light mt-4 bg-dark bg-opacity-50 text-center text-white">
    <h2 class="mt-5 mb-2">Diego Pedroche Molina</h2>
    <div class="row px-3 mt-5">
      <div class="col-md-4">
        <h3 class="mb-3">Hobbies</h3>
        <p>Jugar a videojuegos</p>
        <p>Ver anime</p>
        <p>Ver fotos de gatitos</p>
      </div>
      <div class="col-md-4">
        <h3 class="mb-3">Habilidades</h3>
        <p>Dormir</p>
        <p>Completar mapas en el osu de 3,5 estrellas</p>
        <p>Ser main Yuumi y no aburrirme</p>
      </div>
      <div class="col-md-4">
        <h3 class="mb-3">Datos</h3>
        <p>Fecha de nacimiento: 28/03/2002</p>
        <p>Localidad: Valencia</p>
        <p>Estudiante de DAM</p>
      </div>
    </div>
  </div>
</div>
